<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtk_desktop_2015" version="2019.2.7.1" targetFramework="native" />
  <package id="gflags" version="2.0.1.0" targetFramework="native" />
  <package id="glog" version="0.3.3.0" targetFramework="native" />
  <package id="lua" version="5.3.5" targetFramework="native" />
  <package id="lua.redist" version="5.3.5" targetFramework="native" />
</packages>